<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const textarea = document.getElementById('calculation');
            textarea.addEventListener('keydown', function(event) {
                if ((event.ctrlKey || event.metaKey) && event.key === 'Enter') {
                    event.preventDefault(); // Prevent default behavior
                    document.querySelector('form').submit(); // Submit the form
                }
            });

            // Function to copy text to clipboard
            function copyToClipboard(text) {
                navigator.clipboard.writeText(text).catch(err => {
                    console.error('Could not copy text: ', err);
                });
            }

            // Add event listeners to result elements
            const resultElements = document.querySelectorAll('.result-copy');
            resultElements.forEach(element => {
                element.addEventListener('click', function() {
                    copyToClipboard(this.textContent);
                });
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Python Calculator</h1>
        <form method="post">
            <label for="calculation">Enter calculation:</label>
            <textarea id="calculation" name="calculation" rows="5" style="resize: vertical;" required>{{ calculation if calculation else '' }}</textarea>
            <p><strong>User units:</strong> <input type="text" id="user_units" name="user_units" value="{{ user_units if user_units else '' }}"></p>
            <button type="submit" class="mt-1">Calculate</button>
        </form>
        {% if parsed_input %}
        <div class="result">
            <h2>Results</h2>
            <p><strong>Parsed Input:</strong> <span class="result-copy">{{ parsed_input }}</span></p>
            <p><strong>Result (SI):</strong> <span class="result-copy">{{ result_si }}</span></p>
            <p><strong>Result (cgs):</strong> <span class="result-copy">{{ result_cgs }}</span></p>
            <p><strong>Result (user):</strong> <span class="result-copy">{{ result_user_units }}</span></p>
        </div>
        {% endif %}

        <!-- Addition of the Example Inputs section -->
        <div class="examples">
            <h2>Example Inputs</h2>
            <pre><code>m_p</code></pre>
            <pre><code>m_e c^2</code></pre>
            <pre><code>M = 1.4 M_sun
R = 10 km
v = sqrt(G M / R)
v</code></pre>
            <pre><code></code></pre>
        </div>
    </div>
</body>
</html>
