body {
  font-family: Arial, sans-serif;
  background-color: #121212;
}

.container {
  width: 50%;
  margin: 5% auto;
  background-color: #ffffff;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mt-3 {
  margin-top: 1rem; /* Adjust the value as needed for spacing */
}

h1 {
  text-align: center;
  color: #333333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5em;
  color: #555555;
}

input[type="text"] {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

button {
  padding: 0.7em;
  background-color: #007bff;
  border: none;
  color: #ffffff;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 2em;
  padding: 1em;
  background-color: #e9f7ef;
  border-left: 4px solid #28a745;
}

.result h2 {
  margin-top: 0;
  color: #28a745;
}

.result p {
  margin: 0.5em 0;
  color: #333333;
  text-align: left; /* Align text to the left */
}

.result-copy {
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  display: inline-block; /* Allow padding and margin to be applied */
  position: relative; /* Positioning for the tooltip */
}

.result-copy:hover::after {
  content: "copy"; /* Tooltip text */
  position: absolute; /* Positioning of the tooltip */
  top: -20px; /* Position above the element */
  left: 0; /* Align to the left */
  background: #f0f0f0; /* Background color of the tooltip */
  padding: 2px 5px; /* Padding for the tooltip */
  border-radius: 3px; /* Rounded corners */
  font-size: 12px; /* Font size for the tooltip */
  color: #333; /* Text color for the tooltip */
  white-space: nowrap; /* Prevent text wrapping */
  z-index: 10; /* Ensure tooltip appears above other elements */
}

.examples {
    background-color: #ffffff; /* Light background for examples */
    color: #333333; /* Dark text color for readability */
    margin-top: 1em; /* Reduced space before Example Inputs */
    padding: 1em;
    border-radius: 4px;
}

.examples h2 {
    color: #333333; /* Dark text for the header */
}

.examples pre {
    background-color: #007bff33; /* Light background for code blocks to match button */
    color: #1c1c1c; /* Light text color for code */
    padding: 0.5em;
    border-radius: 4px;
    overflow-x: auto;
}

.examples code {
    color: #000000; /* Dark text color for code */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550; /* Thicker font weight for example text */
}
